<div class="section-one container d-flex">
  <div class="row">
    <div class= "col-sm-12 col-md-5 col-lg-4 col-xl-4">
      <div class="lisa-image">
        <img src="https://res.cloudinary.com/dasxdsr2o/image/upload/v1567455900/lisa_photo.jpg" alt="placeholder photo of Lisa">
      </div>
    </div>

    <div class= "col-sm-12 col-md-7 col-lg-8 col-xl-8">
      <div class="about-me">
        <h1>about me</h1>
        <p>Hi there! I'm Lisa. I'm an entrepreneur and a full stack developer based in the U.S. I love problem-solving, especially through design and technology. Before becoming a developer, I co-founded and ran a children's English school in Tokyo, which is where I learned how to design and ship products. I became a developer because I’m convinced that one of the best ways to make a difference in today’s world is through technology and the creation of meaningful products. I speak Spanish and Japanese and enjoy traveling and rock climbing!</p>
        <div class="contact-info">
          <h5>Contact</h5>
          <div class="social-media-links">
            <li><a href="https://github.com/lisamchinn" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/lisa-chinn-42a629156/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/lmc179" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </div>
          <div class="contact-buttons">
            <a href="mailto:lisamchinn@gmail.com" class="btn btn-outline-dark btn-sm mt-2 mr-2">Email Me</a>
            <%= link_to("Download my Resume", "Lisa_Chinn_Resume2.pdf", class:"btn btn-outline-dark btn-sm mt-2") %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="section-two" class="container mb-5">
  <div class="section-header">
    <h4>My latest projects</h4>
  </div>
  <div class="cards">

    <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570799039/Ellevate_lqoair.jpg)">
      </div>
      <div class="card-info">
        <a href="http://www.ellevate.world" target="_blank" class="card-link">Ellevate</a>
        <p>Project: An online mentorship platform for women, matching female mentees with mentors. Sign is as lisa@mail.com (password: 123456789) to try out the survey! </p>
        <a href="https://github.com/lisamchinn/elevate" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>

   <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570805573/skillsapp_zhhdxo.png)">
      </div>
      <div class="card-info">
        <a href="https://skills-app-sdutson12.herokuapp.com/" target="_blank" class="card-link">Aptitude</a>
        <p>Project: A booking platform for sports coaches and people looking to find a sports coach. Customers can filter by city and sport and book an appointment with a coach. </p>
        <a href="https://github.com/sdutson12/skills_app" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>

    <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570806601/imbibe_mcwasn.png)">
      </div>
      <div class="card-info">
        <a href="https://imbibe-cocktail-maker.herokuapp.com/" target="_blank" class="card-link">Imbibe</a>
        <p>Project: A simple and fun cocktail making web app -- front end and back end built in two days. Users can search through the site's cocktails and also add their own!</p>
        <a href="https://github.com/lisamchinn/rails-mister-cocktail" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>

    <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570805088/hattalk_nb8dsr.png)">
      </div>
      <div class="card-info">
        <a href="https://sende-signup-sheet-lisamchinn.herokuapp.com" target="_blank" class="card-link">Sende Sign-Up Sheet</a>
        <p>Web app made for Sende, a beautiful co-living space located in Senderiz, Spain. Built a simple sign-up app for Sende's daily skill share talks (affectionately known as hat talks).</p>
        <a href="https://github.com/lisamchinn/sende-signup-sheet" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>


  </div>
</div>

<!-- <%=  %>image_tag("Lisa Chinn.jpg", height: '32', width: '32') -->
