<div class="section-one container d-flex">
  <div class="lisa-image">
  <img src="https://res.cloudinary.com/dasxdsr2o/image/upload/v1568632709/photo-1528475775637-ed767f76e6b6_xgsk6t.png" alt="placeholder photo of Lisa">
  </div>

  <div class="about-me">
    <h1>about me</h1>
    <p></p>
    <div class="contact-info">
      <h3>Contact</h3>
      <div class="social-media-links">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </div>
      <h3>Resume upload</h3>
    </div>
  </div>
</div>

<h1>hi</h1>

<div id="footer" class="card-white">
  <ul class="text-blue list-inline">
    <li><a href="https://www.facebook.com/lisa.chinn.12" target="_blank" ><i class="fab fa-facebook-square"></i></a></li>
    <li><a href="https://github.com/lisamchinn" target="_blank"><i class="fab fa-github-square"></i></a></li>
    <li><a href="https://www.linkedin.com/in/lisa-chinn-42a629156/" target="_blank"><i class="fab fa-linkedin"></i></i></a></li>
    <li><a href=""><i class="fab fa-instagram" class="text-blue"></i></a></li>
  </ul>
</div>

<div class="section-two">
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
</div>

