<div class="section-one container d-flex">
  <div class="row">
    <div class= "col-sm-12 col-md-5 col-lg-3 col-xl-3">
      <div class="lisa-image">
        <img src="https://res.cloudinary.com/dasxdsr2o/image/upload/v1567455900/lisa_photo.jpg" alt="placeholder photo of Lisa">
      </div>
    </div>

    <div class= "col-sm-12 col-md-7 col-lg-9 col-xl-9">
      <div class="about-me">
        <h1>about me</h1>
        <p>My passion is using technology to help realize human potential, particularly in the education and international development sectors. I've held a variety of roles in education from teaching to educational content creation across different media like textbooks and digital products such as courseware, music, videos and games.</p>
        <div class="contact-info">
          <h3>Contact</h3>
          <div class="social-media-links">
            <li><a href="https://github.com/lisamchinn" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/lisa-chinn-42a629156/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/lmc179" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </div>
          <div class="contact-buttons">
            <%= link_to("Download my Resume", "Lisa_Chinn_Resume.pdf", class:"btn btn-outline-dark btn-sm mt-2") %>
            <a href="mailto:lisamchinn@gmail.com" class="btn btn-outline-dark btn-sm mt-2">Email Me</a>.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="section-two container mb-5">
  <h4>My latest projects</h4>
  <div class="cards">

    <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570799039/Ellevate_lqoair.jpg)">
      </div>
      <div class="card-info">
        <a href="http://www.ellevate.world" target="_blank" class="card-link">Ellevate</a>
        <p>Web app built with the MERN stack. Add /admin to the URL and login as admin to modify the data by sending HTTP requests to the server. Credentials: username: admin, password: my_password</p>
        <a href="https://github.com/lisamchinn/elevate" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>

   <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570805573/skillsapp_zhhdxo.png)">
      </div>
      <div class="card-info">
        <a href="https://skills-app-sdutson12.herokuapp.com/" target="_blank" class="card-link">Aptitude</a>
        <p>Web app built with the MERN stack. Add /admin to the URL and login as admin to modify the data by sending HTTP requests to the server. Credentials: username: admin, password: my_password</p>
        <a href="https://github.com/sdutson12/skills_app" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>

    <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570806601/imbibe_mcwasn.png)">
      </div>
      <div class="card-info">
        <a href="https://imbibe-cocktail-maker.herokuapp.com/" target="_blank" class="card-link">Imbibe</a>
        <p>Web app built with the MERN stack. Add /admin to the URL and login as admin to modify the data by sending HTTP requests to the server.</p>
        <a href="https://github.com/lisamchinn/rails-mister-cocktail" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>

    <div class="card image-hover">
      <div class="card-image" style="background-image: url(https://res.cloudinary.com/dasxdsr2o/image/upload/v1570805088/hattalk_nb8dsr.png)">
      </div>
      <div class="card-info">
        <a href="https://sende-signup-sheet-lisamchinn.herokuapp.com" target="_blank" class="card-link">Sende Sign-Up Sheet</a>
        <p>Web app built with the MERN stack. Add /admin to the URL and login as admin to modify the data by sending HTTP requests to the server. </p>
        <a href="https://github.com/lisamchinn/sende-signup-sheet" target="_blank" class="card-github">GitHub<span class="pl-1"><i class="fab fa-github"></span></i></a>
      </div>
    </div>


  </div>
</div>

<!-- <%=  %>image_tag("Lisa Chinn.jpg", height: '32', width: '32') -->
