<div class="section-one container d-flex">
  <div class="lisa-image">
  <img src="https://res.cloudinary.com/dasxdsr2o/image/upload/v1567455900/lisa_photo.jpg" alt="placeholder photo of Lisa">
  </div>

  <div class="about-me">
    <h1>about me</h1>
    <p>My passion is using technology to help realize human potential, particularly in the education and international development sectors. I've held a variety of roles in education from teaching to educational content creation across different media like textbooks and digital products such as courseware, music, videos and games.</p>
    <div class="contact-info">
      <h3>Contact</h3>
      <div class="social-media-links">
        <li><a href="https://github.com/lisamchinn" target="_blank"><i class="fab fa-github-square"></i></a></li>
        <li><a href="https://www.linkedin.com/in/lisa-chinn-42a629156/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/lmc179" target="_blank"><i class="fab fa-twitter"></i></a></li>
      </div>
      <div class="contact-buttons">
        <%= link_to("Download my Resume", "Lisa_Chinn_Resume.pdf", class:"btn btn-outline-dark") %>
        <a href="mailto:lisamchinn@gmail.com" class="btn btn-outline-dark">Email Me</a>.
      </div>
    </div>
  </div>
</div>

<div class="section-two">
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
  <div class="card-latest-work">
  </div>
</div>

<!-- <%=  %>image_tag("Lisa Chinn.jpg", height: '32', width: '32') -->
