.container-large {
  width: 90%;
  margin: 0px auto;
}

.navbar-portfolio {
  justify-content: space-between;
  background: white;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand a {
  text-decoration: none;
  font-size: 40px;
  color: #494c4e;
  font-family: 'Alegreya Sans SC', sans-serif;
}
