.navbar-logo {
  width: 90px;
  height: 90px;
  display: block;
  overflow: visible;
  border: 5px solid #494c4e;
  transform: rotate(0deg);
  transition: transform .4s ease-in-out;
  flex-shrink: 0;
  &:hover {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform .4s ease-in-out;
  }
}

.navbar-logo a {
  color: #494c4e;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
}

.navbar-portfolio {
  justify-content: space-between;
  background: white;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.nav-gray {
  color: rgba(0,0,0,.6);
  &:hover {
    color: rgba(0,0,0,.9);
  }
}
