.section-one img {
  width: 320px;
  height: 320px;
  margin-right: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  border: white 5px solid;
  margin-bottom: 15px;
}

.social-media-links {
  list-style: none;
  padding-left: 0px;
  li {
    padding-left: 0;
    padding-inline-start: 0px;
    display: inline;
  }
  a {
    color: rgba(200, 214, 246, 1.0);
    font-size: 30px;
  }
}

.section-two {
  margin-top: 80px;
}

.image-hover {
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.7) 1px 5px 16px;
    text-decoration: none;
  }
}

// .list-inline {
//   list-style: none;
//   padding-left: 0px;
// }

// .card-white {
//   background-color: white;
//   padding: 40px;
//   box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
//   border-radius: 4px;
//   margin: 20px 0px;
//   text-align: center;
// }

// #footer {
//   font-size: 20px;
//   font-family: Helvetica;
//   text-align: center;
//   padding: 20px;
// }

// #footer a {
//   font-size: 36px;
//   margin: 10px;
// }

// #footer a:hover {
//   color: #22C997;
//   box-shadow: 0 10px 30px rgba(0,0,0,.1);
// }

// #footer li {
//   padding-left: 0;
//   padding-inline-start: 0px;
//   display: inline;
// }
